body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
header h1 {
  padding: 35px 0 15px 0;
  text-align: center;
  color: rgb(163, 77, 255);
    
}
.main-nav li {
  border: 1px solid #d9b3ff; 
  padding: 8px 48px 8px 48px;
  display: block;
  float: left;
  background-color: rgb(191, 128, 255);
}
.main-nav li:hover {
  border: 1px solid #d9b3ff; 
  padding: 8px 48px 8px 48px;
  display: block;
  float: left;
  background-color: rgb(163, 77, 255);
}
.main-nav a {
  text-decoration: none;
  color: white;
}
.main-nav a {
  text-decoration: none;
  color: white;
}
.content {
  background-color: white;
  margin: 0rem 29rem 0rem 29rem;
  text-align: center;
}
aside {
  background-color: rgb(230, 204, 255);
  float: left;
  height: 30em;
  width: 20%;
  clear: both;
}
aside ul {
  padding-top: 80px;
}
aside li:hover {
  background-color: rgb(163, 77, 255);
}
aside a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  width: 100%;
  line-height: 30px;
}

.main-article {
  background-color: rgb(242, 230, 255);
  display: inline-block;
  width: 80%;
  height: 30em;
}
.main-article figcaption {
  color: dimgrey;
  font-size: 12px;
}
.main-article p {
  font-size: 16px;
  color: dimgrey;
}
header h2 {
  color: rgb(176, 102, 255);
  font-size: 2em;
  padding: 50px 10px 20px 20px;
}
header h3 {
  font-size: 1.5em;
  padding: 20px;
  color: rgb(176, 102, 255);
}
footer {
  clear: both;
  padding: 2.5rem;
}
footer img {
  max-width: 100%;
  width: 2rem;
  padding: 0px 10px 0px 10px;
}